@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,300;1,400;1,700&family=Roboto:wght@500&display=swap");
@import url("./components/avatar.css");
@import url("./components/badges.css");
@import url("./components/alert.css");
@import url("./components/button.css");
@import url("./components/card.css");
@import url("./components/images.css");
@import url("./components/input.css");
@import url("./components/textUtilities.css");
@import url("./components/modal.css");
@import url("./components/grid.css");

:root {
  --cta-color: #544af4;
  --hover-bg: #ececf1;
  --primary-color: #161617;
  --secondary-color: #6b696b;
  --modal-overlay: #7c787c85;
  --success-color: #14943e;
  --warning-color: #ca9d0a;
  --error-color: #d40b1f;
  --info-color: #148cb8c5;
  --success-bg: #8bdba593;
  --warning-bg: #e4d39c9d;
  --error-bg: #eba3aaa8;
  --info-bg: #aad6e6b2;
  --icon-color: #ece8ecbd;
  --white-color: #f8f5f5;
  --yellow-color: rgb(255, 255, 31);
}

* {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Scroll to top */
.scroll-to-top {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99;
  font-size: 3rem;
  color: var(--cta-color);
  cursor: pointer;
}

/* Scroll to top */

/* Start Theme mode */
/* body.dark {
  background-color: var(--primary-color);
  color: white;
} */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label-theme {
  width: 3rem;
  height: 1.5rem;
  background-color:var(--primary-color);
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  box-sizing: border-box;
}

.ball {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--hover-bg);
  position: absolute;
  left: 0;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label-theme .ball{
  transform: translateX(24px);
}

.fa-moon {
  color: var(--white-color);
  font-size: 1rem;
}

.fa-sun {
  color: var(--yellow-color);
  font-size: 1rem;
}

/* Header start */
.header {
  box-sizing: border-box;
  background-color: var(--hover-bg);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.8rem;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  color: var(--primary-color);
  border-bottom: 1px solid var(--secondary-color);
  box-shadow: 0 3px 10px var(--secondary-color);
}
.header-logo a {
  color: var(--cta-color);
  font-weight: 900;
}
.header-logo span {
  margin-right: 1rem;
}

.header-links {
  margin-left: auto;
  flex-wrap: wrap;
  display: flex;
}

.header-link {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
/* Header End */


/* End Theme mode */
.main-container {
  display: flex;
  position: relative;
  box-sizing: border-box;
}
/* left SideBar start */
.left-sidebar {
  position: fixed;
  bottom: 1rem;
  min-height: 0;
  overflow-y: scroll;
  top: 5rem;
  width: 20%;
  box-sizing: border-box;
  border-right: 1px inset;
}
.list-items {
  list-style: none;
  font-size: 1.5rem;
  margin: auto 0rem;
  padding: 0rem;
}
.list-item {
  padding: 1rem 2rem;
}

.list-item:hover {
  background-color: var(--hover-bg);
  color: var(--cta-color);
  font-weight: bold;
  border-radius: 5px;
}

/* left SideBar end */

/* content start */
.wrapper {
  position: relative;
  top: 5rem;
  height: 100vh;
  width: 100%;
  margin-left: 20%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#installation,
#avatar,
#alert,
#badge,
#button,
#card,
#image,
#input,
#textUtilities,
#modal,
#grid {
  scroll-margin-top: 4rem;
}
.content {
  box-sizing: border-box;
  padding-top: 3rem;
  min-height: 100vh;
}

.brand {
  color: var(--cta-color);
}
.content > h1 {
  font-size: 3rem;
  margin: 1rem;
  padding: 2rem;
  font-weight: 700;
  text-align: center;
}
p {
  color: var(--secondary-color);
}
.content > p {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
}
.content > p a {
  text-align: center;
  text-decoration: underline;
}
/* content end */

/* Container for every component start */
.container {
  padding: 1.5rem;
  border-bottom: 1px solid var(--secondary-color);
}
.container > p {
  color: var(--primary-colors);
}
.inline {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0;
  flex-wrap: wrap;
}
.code-container {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
/* Container for every component end*/

/* Code documentation start*/
ol li {
  margin: 1rem;
}
.code {
  box-sizing: border-box;
  color: var(--cta-color);
  border-radius: 4px;
}
/* Code documentation end*/

/* mobile view */
@media only screen and (max-width: 700px) {
  .left-sidebar {
    display: none;
  }

  /* suggested change */
  body{
    font-size: 0.7rem;
  }
  .wrapper{
    margin-left: 0;
  }
  .form{
    display: block;
  }
}
